<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OCOJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/table.css}">
    <style>
        label{
            color: steelblue;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">OCOJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">题目</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/student/index">所有题目</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/student/index(status=2)}">已通过</a>
                    <a class="dropdown-item" th:href="@{/student/index(status=1)}">未通过</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">比赛</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/student/contest">所有比赛</a>
                    <a class="dropdown-item" th:href="@{/student/contest(join=1)}">我的比赛</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/student/contest(status=1)}">未开始</a>
                    <a class="dropdown-item" th:href="@{/student/contest(status=2)}">已开始</a>
                    <a class="dropdown-item" th:href="@{/student/contest(status=3)}">已结束</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/submit">提交</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/user">用户</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/about">关于</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div style="height: 32px"></div>

<div class="row">
    <div class="col-2 list-group">
        <a href="/student/contest" class="list-group-item list-group-item-action">所有比赛</a>
        <a th:href="@{/student/contest(join=1)}" class="list-group-item list-group-item-action">我的比赛</a>
        <a th:href="@{/student/contest(status=2)}" class="list-group-item list-group-item-action">已开始</a>
        <a th:href="@{/student/contest(status=1)}" class="list-group-item list-group-item-action">未开始</a>
        <a th:href="@{/student/contest(status=3)}" class="list-group-item list-group-item-action">已结束</a>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 15%;">编号</th>
                <th scope="col" style="width: 65%">比赛名</th>
                <th scope="col">选项</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${page.list}">
                <td th:text="${c.contestNum}"></td>
                <td th:text="${c.contestName}">Mark</td>
                <td>
                    <a class="btn btn-secondary" th:href="@{/student/viewContest(contestID=${c.contestID})}">查看</a>
                    <a class="btn btn-secondary" id="submitName">报名</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" th:href="@{/student/contest(start=1, status=${status})}">首页</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/student/contest(start=${page.pageNum-1}, status=${status})}">上一页</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/student/contest(start=${page.pageNum+1}, status=${status})}">下一页</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/student/contest(start=${page.pages}, status=${status})}">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $("#submitName").click(function () {
            alert("报名成功")
        })
    })
</script>
</body>
</html>