<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OCOJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/table.css}">
    <style>
        label{
            color: steelblue;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">OCOJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">题目</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/student/index">所有题目</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/student/index(status=2)}">已通过</a>
                    <a class="dropdown-item" th:href="@{/student/index(status=1)}">未通过</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">比赛</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/student/contest">所有比赛</a>
                    <a class="dropdown-item" th:href="@{/student/contest(join=1)}">我的比赛</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/student/contest(status=1)}">未开始</a>
                    <a class="dropdown-item" th:href="@{/student/contest(status=2)}">已开始</a>
                    <a class="dropdown-item" th:href="@{/student/contest(status=3)}">已结束</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/submit">提交</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/user">用户</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/about">关于</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div style="height: 32px"></div>

<div class="row" style="text-align: center">
    <div class="col">
        <div style="height: 32px;"></div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p class="mb-0" th:text="'邮箱：'+${student.getStudentMail()}"></p></li>
                <li class="list-group-item"><p class="mb-0" th:text="'姓名：'+${student.getStudentName()}">姓名</p></li>
                <li class="list-group-item"><p class="mb-0" th:text="'班级：'+${studentClass.getClassName()}">班级</p></li>
                <li class="list-group-item"><p class="mb-0" th:text="'学号：'+${student.getStudentID()}">学号</p></li>
            </ul>
        </div>
        <div style="height: 32px;"></div>
    </div>
</div>

<script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
</body>
</html>