<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">OCOJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">题目</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/index">所有题目</a>
                    <a class="dropdown-item" href="/admin/createQuestion">新建题目</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/index(status=2)}">未发布</a>
                    <a class="dropdown-item" th:href="@{/admin/index(status=1)}">已发布</a>
                    <a class="dropdown-item" th:href="@{/admin/index(status=3)}">已删除</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">比赛</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">查看比赛</a>
                    <a class="dropdown-item" href="#">组建比赛</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">未开始</a>
                    <a class="dropdown-item" href="#">已开始</a>
                    <a class="dropdown-item" href="#">已结束</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/submit">提交</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">用户</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/about">关于</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>



<div class="row">
    <!--    <div class="col-2">-->
    <!--        <ul class="list-group">-->
    <!--            <li class="list-group-item"><a href="/admin/index">所有题目</a></li>-->
    <!--            <li class="list-group-item"><a href="/admin/createQuestion">新建题目</a></li>-->
    <!--            <li class="list-group-item"><a href="#">未发布</a></li>-->
    <!--            <li class="list-group-item"><a href="#">已发布</a></li>-->
    <!--            <li class="list-group-item"><a href="#">已删除</a></li>-->
    <!--        </ul>-->
    <!--    </div>-->
    <div class="col">
        <div style="height: 32px;"></div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><p class="mb-0" th:text="'邮箱：'+${student.getStudentMail()}"></p></li>
                <li class="list-group-item"><p class="mb-0" th:text="'姓名：'+${student.getStudentName()}">姓名</p></li>
                <li class="list-group-item"><p class="mb-0" th:text="'班级：'+${studentClass.getClassName()}">班级</p></li>
                <li class="list-group-item"><p class="mb-0" th:text="'学号：'+${student.getStudentID()}">学号</p></li>
            </ul>
        </div>
        <div style="height: 32px;"></div>
        <div class="row form-group">
            <div class="col">
                <div type="button" class="btn btn-secondary col" id="accept">通过</div>
            </div>
            <div class="col">
                <div type="button" class="btn btn-secondary col" id="waring">不通过</div>
            </div>
            <div class="col">
                <div type="button" class="btn btn-secondary col" id="goBack">返回</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    $(function () {
        $("#accept").click(function () {
            $.ajax({
                type: "POST",
                url: "/admin/auditUser",
                data: "status=1&&userMail="+[[${student.getStudentMail()}]],
                success: function (result) {
                    result = JSON.parse(JSON.stringify(result));
                    if (result.success) {
                        alert("操作成功");
                        window.location.href = "/admin/user";
                    } else {
                        alert("操作失败");
                        window.location.href = "/admin/user";
                    }
                }
            })
        });

        $("#waring").click(function () {
            $.ajax({
                type: "POST",
                url: "/admin/auditUser",
                data: "status=2&&userMail="+[[${student.getStudentMail()}]],
                success: function (result) {
                    result = JSON.parse(JSON.stringify(result));
                    if (result.success) {
                        alert("操作成功");
                        window.location.href = "/admin/user";
                    } else {
                        alert("操作失败");
                        window.location.href = "/admin/user";
                    }
                }
            })
        });

        $("#goBack").click(function () {
            window.location.href = "/admin/user";
        })
    });
</script>
</body>
</html>