<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">题目</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/index">所有题目</a>
            <a class="dropdown-item" href="/admin/createQuestion">新建题目</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">未发布</a>
            <a class="dropdown-item" href="#">已发布</a>
            <a class="dropdown-item" href="#">已删除</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">比赛</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">查看比赛</a>
            <a class="dropdown-item" href="#">组建比赛</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">未开始</a>
            <a class="dropdown-item" href="#">已开始</a>
            <a class="dropdown-item" href="#">已结束</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">用户</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">关于</a>
    </li>
</ul>

<div style="height: 32px"></div>

<div class="row">
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item"><a href="/admin/index">所有题目</a></li>
            <li class="list-group-item"><a href="/admin/createQuestion">新建题目</a></li>
            <li class="list-group-item"><a href="#">未发布</a></li>
            <li class="list-group-item"><a href="#">已发布</a></li>
            <li class="list-group-item"><a href="#">已删除</a></li>
        </ul>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center">
            <div class="col-10">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea0">题目编号</label>
                        <input class="form-control" id="exampleFormControlTextarea5" th:value="${question.questionID}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">选择发布状态</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option value="1">发布</option>
                            <option value="2">不发布</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea0">标题</label>
                        <textarea class="form-control" id="exampleFormControlTextarea0" rows="1" th:text="${question.questionTitle}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">题目</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" th:text="${question.questionContent}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">输入样例</label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" th:text="${question.questionInputSimple}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea3">输出样例</label>
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" th:text="${question.questionOutputSimple}"></textarea>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="timeLimit">时间限制</label>
                            <textarea class="form-control" id="timeLimit" rows="1" placeholder="单位：MS" th:text="${question.questionTimeLimit}"></textarea>
                        </div>
                        <div class="col">
                            <label for="MemoryLimit">内存限制</label>
                            <textarea class="form-control" id="MemoryLimit" rows="1" placeholder="单位：K" th:text="${question.questionMemoryLimit}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea4">其他信息</label>
                        <textarea class="form-control" id="exampleFormControlTextarea4" rows="1" th:text="${question.questionPrompt}">NULL</textarea>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <div type="button" class="btn btn-danger col" id="goBack">返回</div>
                        </div>
                        <div class="col">
                            <div type="button" class="btn btn-success col" id="submit">提交</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../js/editQuestion.js}"></script>
</body>
</html>