<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/table.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">OCOJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">题目</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/index">所有题目</a>
                    <a class="dropdown-item" href="/admin/createQuestion">新建题目</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/index(status=2)}">未发布</a>
                    <a class="dropdown-item" th:href="@{/admin/index(status=1)}">已发布</a>
                    <a class="dropdown-item" th:href="@{/admin/index(status=3)}">已删除</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">比赛</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/contest">查看比赛</a>
                    <a class="dropdown-item" href="/admin/createContest">组建比赛</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/admin/contest(status=1)}">未开始</a>
                    <a class="dropdown-item" th:href="@{/admin/contest(status=2)}">已开始</a>
                    <a class="dropdown-item" th:href="@{/admin/contest(status=3)}">已结束</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/submit">提交</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">用户</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/about">关于</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div style="height: 32px"></div>

<div class="row">
    <div class="col-2 list-group">
        <a href="/admin/index" class="list-group-item list-group-item-action">所有题目</a>
        <a href="/admin/createQuestion" class="list-group-item list-group-item-action">新建题目</a>
        <a th:href="@{/admin/index(status=2)}" class="list-group-item list-group-item-action">未发布</a>
        <a th:href="@{/admin/index(status=1)}" class="list-group-item list-group-item-action">已发布</a>
        <a href="#" class="list-group-item list-group-item-action">已删除</a>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 15%;">编号</th>
                <th scope="col" style="width: 45%">题目</th>
                <th scope="col" style="width: 10%">通过率</th>
                <th scope="col" style="width: 10%;">状态</th>
                <th scope="col">选项</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c:${page.list}">
                <td th:text="${c.questionNum}"></td>
                <td th:text="${c.questionTitle}">Mark</td>
                <td th:text="${c.questionAccept} + '/' + ${c.questionInput}"></td>
                <td th:text="${c.questionStatus} == 1 ? '已发布' : '未发布'"></td>
                <td>
                    <a class="btn btn-secondary" th:href="@{/admin/viewQuestion(questionID=${c.questionID})}">查看</a>
                    <a class="btn btn-secondary" th:href="@{/admin/editQuestion(questionID=${c.questionID})}">修改</a>
                    <button class="btn btn-dark deleteButton" th:value="${c.questionID}">删除</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" th:href="@{/admin/index(start=1, status=${status})}">首页</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/admin/index(start=${page.pageNum-1}, status=${status})}">上一页</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/admin/index(start=${page.pageNum+1}, status=${status})}">下一页</a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/admin/index(start=${page.pages}, status=${status})}">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
<script>
    $(function () {
        $(".deleteButton").click(function () {
            $.ajax({
                type: "POST",
                url: "/admin/deleteQuestion",
                data: "questionID=" + $(this).val(),
                success: function (result) {
                    if (result.success) {
                        alert("删除成功");
                        location.reload();
                    } else {
                        alert("删除失败");
                    }
                }
            });
        });
    })
</script>
</body>
</html>