<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OriginCat.OJ</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/SignUp.css}">
</head>

<body>
<div class="p-2 bd-highlight justify-content-center d-flex">
    <div class="align-self-stretch flex-fill"></div>
    <div class="d-flex flex-column bd-highlight align-self-center flex-fill">
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight"></div>
        <div class="d-flex p-2 bd-highlight">
            <div class="align-self-stretch col-md-3"></div>
            <div class="p-2 bd-highlight flex-fill shadow-sm rounded-lg" id="signInModel">
                <form>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer01">邮箱</label>
                        <input type="email" class="form-control" id="validationServer07" required>
                        <div class="valid-feedback" id="checkValidationServer07">
                            输入邮箱以注册新账号
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer02">密码</label>
                        <input type="password" class="form-control" id="validationServer08" required>
                        <div class="valid-feedback" id="checkValidationServer08">
                            为您的账号设置密码
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="btn btn-success btn-block" id="signIn">登陆</div>
                        <div class="btn btn-primary btn-block" id="goSignUp">注册</div>
                    </div>
                </form>
            </div>
            <div class="p-2 bd-highlight flex-fill shadow-sm rounded-lg d-none" id="signUpModel">
                <form>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer01">邮箱</label>
                        <input type="email" class="form-control" id="validationServer01" required>
                        <div class="valid-feedback" id="checkValidationServer01">
                            输入邮箱以注册新账号
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer02">密码</label>
                        <input type="password" class="form-control" id="validationServer02" required>
                        <div class="valid-feedback" id="checkValidationServer02">
                            为您的账号设置密码
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer03">确认密码</label>
                        <input type="password" class="form-control" id="validationServer03" required>
                        <div class="invalid-feedback" id="checkValidationServer03">
                            重复输入密码以确认
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer04">姓名</label>
                        <input type="text" class="form-control" id="validationServer04" required>
                        <div class="valid-feedback" id="checkValidationServer04">
                            输入姓名以注册新账号
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer05">班级</label>
                        <select class="custom-select" id="validationServer05" required>
                            <option selected disabled value="0">选择你的班级</option>
                            <option th:each="studentClass:${studentClassList}" th:value="${studentClass.classID}" th:text="${studentClass.className}"></option>
                        </select>
                        <div class="valid-feedback" id="checkValidationServer05">
                            选择你的班级
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="validationServer06">学号</label>
                        <input type="text" class="form-control" id="validationServer06" required>
                        <div class="valid-feedback" id="checkValidationServer06">
                            输入学号以注册新账号
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="btn btn-success btn-block" id="signUp">注册</div>
                        <div class="btn btn-primary btn-block" id="goSignIn">返回登陆</div>
                    </div>
                </form>
            </div>
            <div class="align-self-stretch col-md-3"></div>
        </div>

    </div>
    <div class="align-self-stretch flex-fill"></div>
</div>

<script type="text/javascript" th:src="@{../js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{../js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../js/index.js}"></script>
</body>
</html>