body {
    background-image: url(../img/backgroundimg.png);

    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;

    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;

}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-inside: auto;
    margin-bottom: auto;
}

.outer {
    height: 100%;
    padding: 150px 0 0;
    box-sizing: border-box;
    position: relative;
}